body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appLogo {
  height: 50px;
  width: 170px;
}

.cart {
  height: 32px;
  width: 32px;
}

.input-group>.form-control, .input-group>.form-select {
  position: relative;
  flex: 1 1 auto;
  width: 302px;
}

.button {
  padding: 0;
  margin: 0 30px;
  width: 125px;
  height: 30px;
}

.d-flex.cart-box {
  width: 125px;
  height: 30px;
  align-items: center;
}

img.cart-icon {
  height: 20px;
  width: 20px;
}

p.cart-text {
  font-size: 1rem;
  margin-left: 10px;
  font-weight: bold;
}

p {
  margin-top: 20px;
  margin-bottom: 1rem;
}

.navmenu {
  display: flex;
  position: sticky;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
}


._37M3Pb, .InyRMC {
  display: flex;
  background-color: lightblue;
  width: 100%;
  flex-direction: row;
}

.InyRMC {
  left: 0;
  justify-content: center;

}

._37M3Pb, .InyRMC {
  width: 100%;
  justify-content: space-around;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.eFQ30H:first-child {
  padding-left: 22px;
}

.eFQ30H {
  padding: 12px 8px;
  text-align: center;
  cursor: pointer;
}

a, img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}

a {
  font-size: 100%;
  text-decoration: none;
  outline: none;
  margin: 0px;
  padding: 0px;
  background: transparent;
}

.eFQ30H ._1mkliO {
  margin-bottom: 4px;
}

.CXW8mj {
  height: 64px;
  width: 64px;
  position: relative;
    margin: 0 auto;
}

.eFQ30H .xtXmba {
  font-weight: 500;
  font-size: 14px;
}

.menu-image {
  max-width: 100%;
  max-height: 100%;
}